#content {
	color: #555;
}
#app-navigation {
	width: 250px;
	position: fixed;
}
#app-content {	
	position: relative;	
	/*
	width: 80%;
	height: auto;
	overflow-y: auto;
	max-width: 800px;
	padding: 25px 15px 0px 15px;
	*/	
	margin-left: 250px;

	height: 100%;

}
#conversation {
	padding: 25px 30% 0px 15px;
}
#page-nav {
	margin: 0 0 40px 0;
	height: 10px;
}

#rooms li + li.user-label {
	margin-top: 15px;
}
#rooms .active {
	font-weight: bold;
	color: #555;
}
#rooms img {
	margin: 5px 3px 0 0;
	float: left;
}
#rooms .new-msg {
	/*background-image: url('%appswebroot%/conversations/img/blink.gif');*/
	text-shadow: 0px 0px 0px #555;
}
#rooms label {
	padding: 6px 6px;
	font-weight: bold;
	font-style: italic;
	display: block;
}

#new-comment {	
	width:50%; 
	max-width: 600px;
	border:1px solid #ccc;
	margin: 32px 0 10px 15px;
	border-radius: 3px;
}
@media all and (max-width: 480px) {
	#new-comment {
		width: 90%;
	}
	#conversation {
		padding-right: 15px;
	}
}
#new-comment-text {
	width:100%;
	height: 55px;
	text-align: left;
	border: none;
	border-bottom: 0px dashed #ccc;	
	border-radius: 0;
	margin:0;
	display:block;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow:auto;
	resize:none;	
}
#new-comment-buttons {
	width:100%; 
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:5px;
}
#new-comment input[type=submit] {
	float: right;
}
#new-comment-loader { 
	float:right;
	margin: 10px 5px 0px 5px;
}
#add-attachment {
	margin: 10px 0 0 0;
	opacity: 0.5;
	float: left;
}
#add-attachment:hover {
	opacity: 1;
}
#new-comment-attachment {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 5px;
}
#new-comment-attachment img {
	margin: 0 5px -16px 0px;
}
#new-comment-attachment .oc-dialog-close {
	position: relative;
	top: 0px;
	right: 0px;
}
#new-comment-attachment p {
	color: #ccc;
	margin: 10px 5px;
}
#new-comment-attachment .oc-dialog-close {
	float: right;
}

.comment {
	margin-bottom: 15px;
	max-width: 800px;
}

.comment-header {
	height: 32px;
	background-color: #DCDCDC;
	padding: 5px;
	border-radius: 3px;
}

.comment-header .avatar {
	float: left;
}
.comment-header .author {
	float: left;
	vertical-align: baseline;
	padding: 5px 0 0 5px;
}
.comment-header .date {
	float: left;
	color: gray;
	padding: 5px 0 0 5px;
}
.comment-header time:hover {
	cursor: pointer;
}
.comment-header .delete {
	text-align: right;
}

.comment-header a.action.delete {
	display: none;
	opacity: 0;		
	padding: 9px 14px 19px !important;
}
.comment-header:hover a.action.delete {
	opacity: 0.5;
	display: inline;
}
.comment-header a.action.delete:hover {
	opacity: 1;
}

.comment-text {
	clear: both;
	padding: 10px;
}
.comment-text a {
	color: #000;
}
.comment-attachment {
	clear: both;
	padding: 10px;
}
.comment-attachment img {
	margin: 0 5px -14px 0px;
}

#no-users {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 40%;
	margin-left: -250px;
}

#loading_conversation {
    height: 50px;
    padding: 20px;
    margin: 40px;
    background-position: center left;
}
#no_more_conversation,
#no_conversation { 
    padding: 50px 0px;
    z-index: 100;
    margin: 40px;
    color: #555;
}
#app-settings-content p {
	padding-left: 18px;
}
#app-settings-content input {
	margin-left: -18px;
}